main {
  margin: 0;

  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px 80px;
    // padding: $padding-sections;

    .col2 {
      background-image: url("../../assets/images/bg-intro-desktop.svg");
      background-repeat: no-repeat;
    }
    .req-inv {
      margin-right: 30px;
      width: 150px;
      float: left;
      background-color: $primary-color;
      color: white;
      border-radius: 20px;
      border: none;
      height: 45px;
      font-weight: bold;
      right: 0;

      &:focus {
        outline: none;
      }
      &:hover {
        background-color: rgb(60, 152, 74);
        cursor: pointer;
      }
    }
  }
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: $padding-sections;

    .row-container2 {
      display: flex;
      flex-direction: row;

      section {
        padding: 10px;

        img {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }
  }
  .section3 {
    padding: $padding-sections;

    .row-container3 {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      justify-content: space-between;

      section {
        padding: 10px;
        img {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  main {
    .section1 {
      width: 100%;
      padding: 50px 0 10px 0;
      flex-direction: column-reverse;
      text-align: center;
      .req-inv {
        display: block;
      }
      .col1 {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .section2,
    .section3,
    .section2-content,
    .section3-content {
      padding: 20px;
    }

    .sectionPara,
    h2 {
      text-align: center;
    }
    .section2 {
      .row-container2 {
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
    }

    .secton3 {
      .section3-content {
        .row-container3 {
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
}
